body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

.container {
  width: 100%;
  min-height: 100vh; /* Establecemos una altura mínima igual al tamaño de la ventana del navegador */
  background-image: url('images/background.jpg');
  background-size: cover;
  background-position: center;
}

.content {
  padding: 20px;
  text-align: center;
  color: white;
}

/* Personaliza el estilo de tu contenido según lo necesites */
.content h1 {
  font-size: 2em;
}

.content p {
  font-size: 1.2em;
}
